#nbEntries,
#searchEntries {
  padding: 5px;
  border-radius: 5px;
  margin: 0 5px;
}

.tableEmployee {
  &__head {
    display: flex;
    justify-content: space-between;
  }
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    @media (min-width: 670px) {
      justify-content: space-between;
    }
  }
  &__table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    text-align: center;
    thead th {
      padding: 10px 18px;
      border-bottom: 1px solid #111;
      cursor: pointer;
    }
    tbody tr:nth-child(odd) {
      background: #f9f9f9;
    }
    tr {
      border-bottom: 1px solid#dddddd;
    }
    td {
      padding: 8px 10px;
    }
    tr:nth-child(odd) td:nth-child(1) {
      background: #f1f1f1;
    }
    tr:nth-child(even) td:nth-child(1) {
      background: #fafafa;
    }
    tbody tr:hover,
    tbody tr:hover td:nth-child(1) {
      background: #f1f1f1;
    }
  }
  &__content {
    display: block;
    width: 100%;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  &__pagination {
    display: flex;
  }

  &__columnTitle {
    display: flex;
    justify-content: center;
  }

  &__order {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    &.active {
      .tableEmployee__up,
      .tableEmployee__down {
        top: -2px;
        position: relative;
      }

      svg {
        color: blue;
      }
    }
  }

  &__down {
    position: relative;
    top: -8px;
  }
  &__up,
  &__down {
    width: 10px;
    height: 10px;
    svg {
      width: 100%;
    }
  }
  &__info {
    margin: 5px 0;
  }
}

.tableEmployee__order.active .tableEmployee__up {
  top: -2px;
  position: relative;
}

.prev,
.next {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  cursor: pointer;
  color: #333;
  border: 1px solid transparent;
  border-radius: 2px;
  background: none;
  &:not(:disabled):hover {
    color: white !important;
    border: 1px solid #111;
    background-color: #585858;
    background: linear-gradient(to bottom, #585858 0%, #111 100%);
  }
}
.paginationTable {
  margin: 5px 0;
  display: flex;
  flex-wrap: wrap;
  &__page {
    &.active {
      color: #333;
      border: 1px solid #979797;
      background-color: white;
      background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%);
    }
    @extend .next;
  }
}
